header{
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
}

main{
    width: 900px;
    margin: auto;
    height: 100px;
    display: flex;
}

table{
    width: 50%;
}

td{
    /* border: 1px solid black; */
}

.oc{
    width: 50%;
}

.title{
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}

.oc-list{
    list-style-type: circle;
}

tr:nth-child(even){
    background-color: rgb(243, 7, 14);
}

tr:nth-child(odd){
    background-color: rgb(14, 167, 238);
}